<table>
    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>BirthDate</th>
        <th>Email</th>
        <th>Telephone</th>
        <th>Address</th>
        <th>Id</th>
    </tr>
<tr>
    <td><input type="text" ng-model="selectedName"></td>
    <td><input type="text" ng-model="selectedSurname"></td>
    <td><input type="text" ng-model="selectedBirthDate"></td>
    <td><input type="text" ng-model="selectedEmail"></td>
    <td><input type="text" ng-model="selectedTelephone"></td>
    <td><input type="text" ng-model="selectedAddress"></td>
    <td><input type="password" ng-model="selectedPassword"></td>
</tr>

</table>
<button ng-click="reg()">register</button>
