<div class="users">
    <button ng-click="add()">Add</button>
    <button ng-click="edit()"  value="Edit" ng-disabled="disButtons">Edit</button>
    <button ng-click="delete(mainSelectedId)" ng-disabled="disButtons">Delete</button>

    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>BirthDate</th>
            <th>Email</th>
            <th>Telephone</th>
            <th>Address</th>
            <th>Id</th>
        </tr>
        <tr ng-repeat="n in data" class="line">
            <td ng-click="myFunc(n.id)">{{n.name}}</td>
            <td ng-click="myFunc(n.id)">{{n.surname}}</td>
            <td ng-click="myFunc(n.id)">{{n.birthDate}}</td>
            <td ng-click="myFunc(n.id)">{{n.email}}</td>
            <td ng-click="myFunc(n.id)">{{n.telephone}}</td>
            <td ng-click="myFunc(n.id)">{{n.address}}</td>
            <td ng-click="myFunc(n.id)">{{n.id}}</td>
        </tr>
        <tr>
            <td><input type="text" ng-model="selectedName"></td>
            <td><input type="text" ng-model="selectedSurname"></td>
            <td><input type="text" ng-model="selectedBirthDate"></td>
            <td><input type="text" ng-model="selectedEmail"></td>
            <td><input type="text" ng-model="selectedTelephone"></td>
            <td><input type="text" ng-model="selectedAddress"></td>
            <td>{{mainSelectedId}}</td>
        </tr>
    </table>


</div>
